<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
	http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
	<display-name></display-name>
	<servlet>
		<servlet-name>Servlet</servlet-name>
		<servlet-class>com.eleven.web.Servlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>GoodsServlet</servlet-name>
		<servlet-class>com.eleven.web.GoodsServlet</servlet-class>
	</servlet>
  <servlet>
    <servlet-name>AdminServlet</servlet-name>
    <servlet-class>com.eleven.web.AdminServlet</servlet-class>
  </servlet>

<session-config>
	<session-timeout>
		10<!-- 分钟 -->
	</session-timeout>
</session-config>


	<servlet-mapping>
		<servlet-name>Servlet</servlet-name>
		<url-pattern>/servlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>GoodsServlet</servlet-name>
		<url-pattern>/goodsServlet</url-pattern>
	</servlet-mapping>
  <servlet-mapping>
    <servlet-name>AdminServlet</servlet-name>
    <url-pattern>/adminServlet</url-pattern>
  </servlet-mapping>
	<welcome-file-list>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>
</web-app>
